@font-face {
  font-family: Arial-Narrow;
  src: url(../assets/fonts/arial-narrow/ArialNarrow2.ttf);
  font-weight: bold;
}
.arial-narrow-regular { font-family: Arial-Narrow, Arial; }
/*                                                    */
@font-face {
  font-family: Arial-Narrow-Bold;
  src: url(../assets/fonts/arial-narrow/ArialNarrow2.ttf);
}
.arial-narrow-bold {
  font-family: Arial-Narrow-Bold, Arial;
  letter-spacing: 1px;
}
/*                                                    */
@font-face {
  font-family: Arial-Rounded;
  src: url(../assets/fonts/arial-narrow/round.ttf);
}
/*                                                    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1A1A1A;
  font-family: Arial, Helvetica, sans-serif;

}
.container {
  display: flex;
  /*flex-wrap: wrap;*/
  max-width: 1500px;
  margin: 0 auto;
}
/*                                                                */
.sidebar {
  flex: 1;
  height: 100vh;
  position: relative;
}
.sidebar header {
  margin-top: 52px;
}
.sidebar header hr {
  width: 19%;
  margin-left: 22%;
  border: 1px solid #FF9900;
  margin-top: 35px;
  margin-bottom: 35px;
}
.sidebar header h1 {
  text-transform: uppercase;
  font-size: 65px;
  letter-spacing: 2px;
}
.sidebar header p {
  font-size: 18px;
  /*font-family: arialNarrowBold;*/
}
.sidebar nav {
  font-size: 14px;
}
.sidebar nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial-Narrow-Bold;
  line-height: 40px;
  letter-spacing: 1px;
  font-size: 16px;
}


.sidebar nav ul {
  list-style-type: none;
  background-color: #202020;
  position: absolute;
  display: none;

  -webkit-transform: translate(134%, -51%);
  -moz-transform: translate(134%, -51%);
  -ms-transform: translate(134%, -51%);
  -o-transform: translate(134%, -51%);
  transform: translate(134%, -51%);

  z-index: 5;
}
.sidebar nav ul li  {
  text-decoration:none;
  text-transform: uppercase;
  border: 1px solid white;
}

.sidebar nav ul li a {
  color: white;
  display: inline-block;
  margin-left: 15px;
  margin-right: 45px;
}




.sidebar nav a:hover + ul {
  display: block;
}

.sidebar nav ul:hover {
  display: block;
}

.sidebar nav ul li a:hover {
  color: #FF9900;
}

/*                                                                */
.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
}
/*                                                                */
.gallery {
  height: 77vh;
}
.gallery article {
  width: 50%;
  height: 33%;
  float: left;
  align-content: center;
  padding: 1px;
  overflow: hidden;
  position: relative;
}

.gallery article img {
  width: 100%;
  height: 248px;
}
/*                                                                */
footer {
  background-color:#202020;
  height: 23vh;
}

footer ul {
  list-style-type: none;
  margin-top: 10%;
  margin-bottom: 6px;
}

footer ul li {
  display: inline;
  font-size: 35px;
}

footer ul li a i {
  color: #5F5F5F;
  text-decoration:none;
  letter-spacing: 12px;

}

footer p {
  color: #5F5F5F;
}
/*                                                                 */
.white-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -400;
}

.sidebar-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/cover.jpg");
  z-index: -500;
}

.photo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding-top: 50px;
  padding-left: 50px;
}

.photo-overlay p {
  color: #FF9900;
  font-family: Arial-Rounded;
  letter-spacing: 1.3px;
}

.photo-overlay h3 {
  text-transform: uppercase;
  color: white;
  margin-top: 5px;
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
}


.photo-overlay-corner::after {
  content: url("../img/corner.png");
  position: absolute;
  top: 100%;
  left: 100%;

  -webkit-transform: translate(-100%, -95%);
  -moz-transform: translate(-100%, -95%);
  -ms-transform: translate(-100%, -95%);
  -o-transform: translate(-100%,-95%);
  transform:  translate(-100%, -95%);
}

.center-me {
  text-align: center
}
.margin-me {
  margin-left: 22%;
}

.click-me {
  margin-left: 160px;
}

